<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<meta charset="utf-8">

		<!-- <link href="../static/css/main.css" rel="stylesheet" type="text/css" /> -->

		<!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
		<!--[if lt IE 9]>
					<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->

		<!-- <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}"> -->
		{% block head %}
			<title>{% block title %} Title!{% endblock %}</title>
		{% endblock %}
	</head>

	<body>
	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div> 
<!--	<div id={{ chartID|safe }} class="chart" style="height: 100px; width: 500px"></div> 
		<script>
                        var chart_id = {{ chartID|safe }}
			var series = {{ series|safe }}
			var title = {{ title|safe }}
			var xAxis = {{ xAxis|safe }}
			var yAxis = {{ yAxis|safe }}
			var chart = {{ chart|safe }}
		</script> --> 
			<script src="https://code.highcharts.com/highcharts.js"></script>
                        <script src="https://code.highcharts.com/modules/data.js"></script>
                        <script src="https://code.highcharts.com/modules/drilldown.js"></script> 
                        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> 
			<script src="../static/js/main.js"></script> -->

<script type="text/javascript">

var xAxisData = {{ xAxis|safe }}
var xAxisData2 = {{ xAxis2|safe }}
var yAxisData2 = {{ yAxis2|safe }}
debugger;
Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Top 10% of Pet Items Bought'
    },
    subtitle: {
        text: 'Click the columns to view what other itmes pet lovers like you also bought'
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'Total percent market share'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.0f}'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
    },

    series: [{
        name: 'Pet Items',
        colorByPoint: true,
        data: [{
            name: xAxisData[Object.keys(xAxisData)[0]][1],
            y: xAxisData[Object.keys(xAxisData)[0]][1],
            drilldown: 'Microsoft Internet Explorer'
        }, {
            name: 'Chrome',
            y: 24.03,
            drilldown: 'Chrome'
        }, {
            name: 'Firefox',
            y: 10.38,
            drilldown: 'Firefox'
        }, {
            name: 'Safari',
            y: 4.77,
            drilldown: 'Safari'
        }, {
            name: 'Opera',
            y: 0.91,
            drilldown: 'Opera'
        }, {
            name: 'Proprietary or Undetectable',
            y: 0.2,
            drilldown: null
        }]
    }],
    drilldown: {
        series: [{
            name: 'Microsoft Internet Explorer',
            id: 'Microsoft Internet Explorer',
            data: [
                [
                    String(xAxisData2[Object.keys(xAxisData2)[0]][0]),
                    yAxisData2[Object.keys(yAxisData2)[0]][0]
                ],
                [
                    String(xAxisData2[Object.keys(xAxisData2)[0]][1]),
                    yAxisData2[Object.keys(yAxisData2)[0]][1]
                ],
                [
                    String(xAxisData2[Object.keys(xAxisData2)[0]][2]),
                    yAxisData2[Object.keys(yAxisData2)[0]][2]
                ]
            ]
        }, {
            name: 'Chrome',
            id: 'Chrome',
            data: [
                [
                    String(xAxisData2[Object.keys(xAxisData2)[0]][3]),
                    yAxisData2[Object.keys(yAxisData2)[0]][3]
                ],
                [
                    String(xAxisData2[Object.keys(xAxisData2)[0]][4]),
                    yAxisData2[Object.keys(yAxisData2)[0]][4]
                ],
                [
                    String(xAxisData2[Object.keys(xAxisData2)[0]][5]),
                    yAxisData2[Object.keys(yAxisData2)[0]][5]
                ]
            ]
        }, {
            name: 'Firefox',
            id: 'Firefox',
            data: [
                [
                    'v35',
                    2.76
                ],
                [
                    'v36',
                    2.32
                ],
                [
                    'v37',
                    2.31
                ],
                [
                    'v34',
                    1.27
                ],
                [
                    'v38',
                    1.02
                ],
                [
                    'v31',
                    0.33
                ],
                [
                    'v33',
                    0.22
                ],
                [
                    'v32',
                    0.15
                ]
            ]
        }, {
            name: 'Safari',
            id: 'Safari',
            data: [
                [
                    'v8.0',
                    2.56
                ],
                [
                    'v7.1',
                    0.77
                ],
                [
                    'v5.1',
                    0.42
                ],
                [
                    'v5.0',
                    0.3
                ],
                [
                    'v6.1',
                    0.29
                ],
                [
                    'v7.0',
                    0.26
                ],
                [
                    'v6.2',
                    0.17
                ]
            ]
        }, {
            name: 'Opera',
            id: 'Opera',
            data: [
                [
                    'v12.x',
                    0.34
                ],
                [
                    'v28',
                    0.24
                ],
                [
                    'v27',
                    0.17
                ],
                [
                    'v29',
                    0.16
                ]
            ]
        }]
    }
});
</script>
       </body>
</html>

